name: SonarCloud

on:
    push:
        branches:
            - "main"
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    sonarcloud:
        name: SonarCloud Analysis
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  distribution: "temurin"
                  java-version: 21

            - name: Cache Gradle packages
              uses: actions/cache@v3
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Run Tests and SonarCloud Analysis
              run: ./gradlew clean test jacocoTestReport sonarqube
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
