name: CI - Build Test Coverage Sonar

on:
  push:
    branches:
      - main
      - master
      - ci-Raida   # <--- PENTING: Supaya jalan pas kamu push ke branchmu
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - master
      - ci-Raida   # <--- PENTING: Supaya jalan pas kamu bikin PR

jobs:
  build:
    name: Build, Test, Coverage, Sonar
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build, Test, Coverage
        run: ./gradlew clean test jacocoTestReport

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar --info

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: build/reports/jacoco/