name: SonarCloud Analysis

on:
  push:
    branches:
      - main
      - master
      - ci-Nisriina
  pull_request:
    branches:
      - main
      - master
      - ci-Nisriina

jobs:
  sonarCloud:
    name: Build, Test, and SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build and Run Tests
        run: ./gradlew clean build jacocoTestReport

      - name: SonarCloud Scan
        run: ./gradlew sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Check Quality Gate
        uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


